<div class="row justify-content-center">

  <% if model.errors.any? %>
    <div class="alert alert-danger col-sm-6">

      <h4><%=  pluralize(model.errors.count, "error") %> prevented the article from being saved:</h4>

      <ul>
        <% model.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

</div>
