<div class="jumbotron h-100 w-100 p-2 text-center">
  <h1 class="display-4 mb-4 z-2 font-weight-bold">Alpha Blog</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-xlg z-2" %>
</div>
