<h1 class="text-center">
  All articles in <%= @category.name.capitalize %>
</h1>

<% if logged_in? && current_user.admin? %>
  <small class="d-block text-center">
    [<%= link_to "Edit name", edit_category_path(@category), class: "text-muted" %>]
  </small>
<% end %>

<%= render "articles/articles", articles: @articles %>
