<div class="row justify-content-end">
  <div class="col-sm-auto">

    <% flash.each do |name, msg| %>
      <div class='alert alert-<%= "#{name}" %>'>
        <span class="mr-2"><%= msg %></span>

        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

  </div>
</div>
